<!DOCTYPE HTML>
<html>
    <head>
        <title>OpenShift Workshop</title>

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/require.js/2.3.6/require.js"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

        <link rel="stylesheet" href="{{ url_for('static_file', filename='course/css/main.css') }}">
        {% block meta %}
        {% endblock %}
    </head>
    <body>
        <script>
            function handle_command_execute(element) {
                parent.send_to_terminal(element.previousElementSibling.innerHTML);
            }
        </script>
        {% macro execute() %}
        <button onclick="handle_command_execute(this)">Execute</button>
        {% endmacro %}

        {% if not embedded %}
        <div class="page-header">
            <h1><a href="{{ url_for('home') }}">OpenShift Workshop</a></h1>
        </div>
        {% endif %}
        <div class="content container">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
