{% extends "base.html" %}

{% block content %}
{% if embedded %}
    <h1>{{ workshop.title or 'Courses' }}</h1>
{% else %}
    <h1>Courses</h1>
{% endif %}

    {% if workshop and workshop.courses %}
        <ul>
        {% for name in workshop.courses %}
            {% set course = workshop.details[name] %}
            <li><a href="{{ url_for('course', name=name, embedded=embedded) }}">{{ course.title or name }}</a></li>
        {% endfor %}
        </ul>
    {% else %}
        <p>No course found!!!</p>
    {% endif %}
{% endblock %}
