{% extends "base.html" %}

{% block content %}
<h1>{{ workshop.title or 'Workshop' }}</h1>
<ul>
    {% if workshop and workshop.courses %}
        {% for name in workshop.courses %}
            {% set course = workshop.index[name] %}
            {% if not embedded %}
                <li><a href="{{ url_for('course', name=name) }}">{{ course.title or name }}</a></li>
            {% else %}
                <li><a href="{{ url_for('course', name=name, embedded=1)}}">{{ course.title or name }}</a></li>
            {% endif %}
        {% endfor %}
    {% else %}
        <p>No course found!!!</p>
    {% endif %}
</ul>
{% endblock %}
