{% extends "base.html" %}

{% block content %}
<h1>{{ course.title }}</h1>
    {% if course %}
        <div>
        <ul>
        {% for name in course.modules %}
            {% set module = course.details[name] %}
            <li><a href="{{ url_for('module', name=course.name, path=module.path, embedded=embedded) }}">{{ module.title }}</a></li>
        {% endfor %}
        </ul>
        </div>
        {% if workshop.courses|length > 1 %}
            <div>
                <a href="{{ url_for('workshop', embedded=embedded) }}">Up</a>
            </div>
        {% endif %}
    {% else %}
        <div>
        <p>No course found!!!</p>
        </div>
    {% endif %}
{% endblock %}
