{% extends "base.html" %}

{% block content %}

<style>
img {
  max-width: 100%;
  height: auto;
}
</style>

<h1>{{ module.title or module.text }}</h1>

{% if filetype == '.md' %}
{% filter markdown %}
{% include filename %}
{% endfilter %}
{% elif filetype == '.adoc' %}
{% filter asciidoc %}
{% include filename %}
{% endfilter %}
{% else %}
    <p>Unknown file type: {{ filetype }}.</p>
{% endif %}

<div>
    {% if module.next %}
        <a href="{{ url_for('module', name=course.name, path=module.next, embedded=embedded) }}">Next</a>
    {% else %}
        <a href="{{ url_for('course', name=course.name, embedded=embedded) }}">Up</a>
    {% endif %}

</div>

{% endblock %}
