{% extends "base.html" %}

{% block content %}
<h1>{{ course.title }}</h1>
<ul>
    {% if course %}
        {% for name in course.modules %}
            {% set module = course.index[name] %}
            {% if not embedded %}
                <li><a href="{{ url_for('module', name=course.name, path=module.path) }}">{{ module.title }}</a></li>
            {% else %}
                <li><a href="{{ url_for('module', name=course.name, path=module.path, embedded=1)}}">{{ module.title }}</a></li>
            {% endif %}
        {% endfor %}
        <div></div>
        <div></div>
        {% if workshop.courses|length > 1 %}
            {% if not embedded %}
                <a href="{{ url_for('workshop') }}">Up</a>
            {% else %}
                <a href="{{ url_for('workshop', embedded=1)}}">Up</a>
            {% endif %}
        {% endif %}
    {% else %}
        <p>No course found!!!</p>
    {% endif %}
</ul>
{% endblock %}
