{% extends "base.html" %}

{% block content %}
<h1>{{ workshop.title }}</h1>
<ul>
    {% if workshop %}
        {% for name in workshop.courses %}
            {% set course = workshop.index[name] %}
            {% if not embedded %}
                <li><a href="{{ url_for('course', name=name) }}">{{ course.title }}</a></li>
            {% else %}
                <li><a href="{{ url_for('course', name=name, embedded=1)}}">{{ course.title }}</a></li>
            {% endif %}
        {% endfor %}
    {% else %}
    <p>No course found!!!</p>
    {% endif %}
</ul>
{% endblock %}
